body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

/* Scrollbar styles */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.entity-main-container {
  display: flex;
  flex-direction: row;
}

/* Entity Input Styles */
#page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#header-main {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}

/* Recommendation System Styles */

#recommendation-container {
  margin-bottom: 3rem;
}

#recommendation-header {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}

.training-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#training-header {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}

#system-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current-user {
  font-size: 1.25rem;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

#current-posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  font-size: 1rem;
}

#recc-button {
  margin-bottom: 2rem;
}

#recommendation-user-score {
  display: flex;
  gap: 1rem;
}

#current-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.score-card {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.score-field {
  display: flex;
  font-size: 1rem;

  justify-content: space-between;
  margin-bottom: 10px;
}

.score-id {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.score-id,
.score-value {
  flex: 0 0 50%;
  text-align: right;
}

.score-id {
  text-align: left;
}

#content-wrap {
  max-width: 75%;
  width: 100%;
}

.buttons {
  justify-content: start;
  display: flex;
  align-items: center; /* Add this property to center items vertically */
  gap: 1rem;
}

.entity-selection {
  margin-top: 2rem;
}

.entity-label {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.entity-field-selection label {
  flex-shrink: 0;
  width: 250px;
  text-align: right;
}

.entity-field-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1rem;
  margin-right: 50%;
}

.entity-input {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#ent {
  font-size: 1.25rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #333333;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;

  color: white;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#closeButton {
  margin-right: 3rem;
}
.es,
.hi {
  color: #38d9a9;
}

.ml {
  color: #63e6be;
}

.py,
.web {
  color: #96f2d7;
}

.it {
  font-style: italic;
}

.subheader {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

#content-description {
  font-size: 1.25rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 10%;
  margin-right: 10%;
}

/* Entity JSON Styles */

.entity-json-div {
  width: 200px;
  font-size: 1.25rem;
}

button {
  font-family: "Roboto", sans-serif;
  background-color: #6200ee;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px;
}

button:hover {
  background-color: #3700b3;
}

/* Socket Status */

.socket-status {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
#connection-status-dot {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  position: relative;
}

.disconnected {
  animation: glowRed 1s infinite alternate;
}

.connected {
  animation: glowGreen 1s infinite alternate;
}

/* Glowing effect */
@keyframes glowRed {
  from {
    box-shadow: 0 0 2px #ff0000; /* shadow size and color when animation starts */
  }
  to {
    box-shadow: 0 0 5px #ff0000; /* shadow size and color when animation ends */
  }
}

@keyframes glowGreen {
  from {
    box-shadow: 0 0 2px #00ff00; /* shadow size and color when animation starts */
  }
  to {
    box-shadow: 0 0 5px #00ff00; /* shadow size and color when animation ends */
  }
}
